<!-- Company Name and Logo -->
 <header class="template-header">


    <!-- Navigation -->
    {{widget('extendednavigation', 'navigation', {'align': 'left'})|raw}}


    <!-- Navigation Icon -->
    {% include "includes/nav-icon.twig" %}


    <div class="template-header--brand">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'header-companyname', {"business": "profile"})|raw}}
    </div>


    <!-- Contact Icon -->
    <div class="template-header--contact">
        {{widget('image', 'contact', {'src': asset("/images/contact.svg")})|raw}}
    </div>


    <!--{{widget('ecombasket', 'shopbasket', {})|raw}}-->


    <!-- Advanced Contact Form -->
    {{widget('advancedcontactform', 'contact', {
        'text': 'Submit',
        'formTitle': 'Contact Us',
        'email': 'profile'
    })|raw}}


</header>
