<!-- Company Name and Logo -->
 <header class="template-header">


    <!-- Navigation -->
    {{widget('extendednavigation', 'navigation', {'align': 'left'})|raw}}


    <!-- Navigation Icon -->
    {% include "includes/nav-icon.twig" %}


    <div class="template-header--brand">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'header-companyname', {"business": "profile"})|raw}}
    </div>


    {{widget('ecombasket', 'shopbasket', {})|raw}}


    <!-- Ecommerce Basket -->
        {{widget('ecombasket', 'shopbasket', {})|raw}}


</header>